@CHARSET "ISO-8859-1";

.table tr, td, th, thead, tbody {
	background: none !important;
	background-color: none !important;
	border: none !important;
}

/*BOTOES PAGINACAO TABLE*/
.table .ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled
	{
	background: -moz-linear-gradient(#FFCC66, #FF9966) !important;
	border: none !important;
}

.table .ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled
	{
	background: -moz-linear-gradient(#FFCC66, #FF9966) !important;
	border: none !important;
}

.table .ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled
	{
	background: -moz-linear-gradient(#FFCC66, #FF9966) !important;
	border: none !important;
}

.table .ui-paginator-last.ui-state-default.ui-corner-all.ui-state-disabled
	{
	background: -moz-linear-gradient(#FFCC66, #FF9966) !important;
	border: none !important;
}

.table .ui-paginator-pages {
	background: none !important;
	background-color: none !important;
}

.table .ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all
	{
	background: none !important;
	background-color: none !important;
	border: none !important;
}
/*END BOTOES PAGIANAÇÃO TABLE*/
.table a {
	color: #5882FA !important;
}

.table .ui-paginator.ui-paginator-top {
	background: none;
	border: none;
}

.table .ui-paginator.ui-paginator-bottom {
	background: none;
	border: none;
}